/* html,
body{
  background-color: white;
}
#root {
  height: 100%;
  margin: unset;
} */


html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  /* font-smoothing: auto; */
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1 {
  font-size: 1.5rem;
}

/* .gutter {
  background-color: rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}
.gutter:hover{
  background: rgb(3, 140, 252);
}
.gutter-horizontal {
  cursor: ew-resize;
} */
/* .wrap {
  display: flex;
} */
